<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Add New Scientist</title>
</head>
<body>
  <h1>This is the new route</h1>

  <a href="/exobiology">Back TO The Index</a>


  <form action="/exobiology" method="POST">
    Name: <input type="text" name="name">
    <br>
    Description <input type="text" name="description">
    <br>
    <input type="submit" value="Create New Scientist">
  </form>
</body>
</html>